<!--<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Login to an Utilisateur </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Email </label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="utilisateur.email"
                               name="emailId">
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="utilisateur.password"
                               name="emailId">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Login</button>

                </form>
            </div>
        </div>
    </div>
</div>
-->
<div id="login">
    <h2>Login</h2>
    <p *ngIf="showServerErrorMessage">{{errorMessage}}</p>
    <div *ngIf="!showServerErrorMessage">
        <p *ngIf="email.invalid">Email is invalid</p>
        <p *ngIf="password.invalid">Password must be at least 8 chars</p>
    </div>
    <input type="text" class="form-control my-form" name="email" placeholder="Email" [formControl]="email" />
    <input type="password" class="form-control my-form" name="password" placeholder="Password" [formControl]="password" />
    <button type="button" class="btn btn-primary" id="login-button" (click)="login()">Login</button>
</div>
